@charset "utf-8";
/* CSS Document */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;  /* 1rem = 10px; 10/16 = 62.5% */
}

body,
td,
th,
p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #333;
  line-height: 1.5;
}

body {
  box-sizing: border-box;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}


a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}


a img {
  border: none 0px #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0 0 2rem;
}


article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  width: 100%;
  background-color: #e4e4e4;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#main-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer {
  background-color: #252831;
  color: #aaa;
  width: 100%;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.skip__content {
  position: absolute;
  top: 1rem;
  left: -40rem;
  background-color: #666;
  padding: 1rem 2rem;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.15);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.skip__content:focus {
  left: 0;
  outline: #f0f0f0;
  color: #fff;
}
/* ====================== Navigation ====================== */

nav {
  width: 100%;
  padding: 2rem 0;
  background-color: #252831;
  text-align: center;
  display: flex;
  flex-direction: column;
}


nav h1 {
  margin: auto;
}


nav h1 a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 2.4rem;
  font-weight: 200;
  letter-spacing: 1rem;
  text-transform: uppercase;
  transition: all .3s ease;
}

nav h1 a:hover,
nav h1 a:focus {
  color: #fff;
  text-decoration: underline;
}

/* ====================== Breadcumb bar ====================== */

.breadcrumb-bar {
  padding: 2rem 3rem;
  list-style: none;
  background-color: #e6e6e6;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  font-size: 1.8rem;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #AA5D00;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #eb7e01;
  text-decoration: underline;
}


/* ====================== Map ====================== */

#map {
  height: 40rem;
  width: 100%;
  background-color: #ccc;
}

.show-map {
  margin-top: 3rem;
}

#btn-map {
  padding: 2rem 4rem;
  border: 1px solid #eee;
  background: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #eee;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  outline: none;
}

#btn-map:hover {
  background: #eee;
  color: #252831;
  transform: translateY(-5px);
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  height: auto;
  padding: 4rem;
  background-color: #252831;
  display: flex;
  justify-content: center;
}

.filter__container {
  width: 100%;
  max-width: 80rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.filter__container h4{
  color: white;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1;
  margin-right: 2rem;
}

.filter__container #favorites {
  padding: 1rem 2rem;
  border: 1px solid #eee;
  background: none;
  font-size: 1.6rem;
  color: #eee;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  outline: none;
  margin: 1rem 0;
}

.filter__container #favorites.clicked {
  background-color: rgba(247, 56, 56, 0.6);
}
.filter__container #favorites:hover {
  transform: translateY(-5px);
}

.filter-fields {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.filter-fields select {
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  height: 3.5rem;
  letter-spacing: 0;
  margin: 1rem 0;
}

.filter-fields label {
  position: absolute;
  left: -100%;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  list-style: none;
  margin: 0;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 30rem;
  max-width: 140rem;
}

.card {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
  border-radius: 5px;
  margin-bottom: 3rem;
  min-height: 38rem;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 100%;
}

.card .card__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  background-color: rgba(204, 204, 204, .8);
  width: 65px;
  height: 65px;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
  cursor: pointer;
}

.card .card__heart.clicked {
  background-color: rgba(247, 56, 56, 0.6);
}

.card .card__heart i{
  font-size: 30px;
}

.card .card__heart .fas{
  color: #fff;
}

.card .card__img {
  background-color: #ccc;
  display: block;
  max-width: 100%;
  border-radius: 5px;
}


.card .card__title {
  color: #AA5D00;
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}


.card .card__description {
  margin: 0;
}


.card .card__button {
  background-color:#AA5D00;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1.5rem 0 0;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease;
}

.card .card__button:hover {
  background-color: #e47a00;
}

/* ====================== Restaurant Details ====================== */

.inside header,
.inside footer {
  width: 100%;
}

.inside #map-container {
  border-top: 2px solid #d9d9d9;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 2px solid #d9d9d9;
  padding: 3rem;
}


/* ==== Restaurant Details - Container ==== */

#restaurant-container {
  position: relative;
}

#restaurant-container .heart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 30px;
  border-radius: 50%;
  background-color: rgba(204, 204, 204, .9);
  width: 65px;
  height: 65px;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
  cursor: pointer;
}

#restaurant-container .heart.clicked {
  background-color: rgba(247, 56, 56, 0.6);
}

#restaurant-container .heart i{
  font-size: 30px;
}

#restaurant-container .heart .fas{
  color: #fff;
}

#restaurant-name {
  color: #AA5D00;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 0 3rem;
  text-transform: uppercase;
  line-height: 1.1;
}


#restaurant-photo > img {
  width: 100%;
  border-radius: 5px;
}


#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 3px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}


#restaurant-address {
  font-size: 1.8rem;
  margin: 1.5rem 0;
  text-align: center;
}

#restaurant-hours {
  margin: 0 auto;
}

#restaurant-hours td {
  padding: .5rem;
  color: #666;
}

#restaurant-hours .day {
  color: #fff;
  background-color:#666;
  text-align: left;
  font-weight: 300;
}

#restaurant-hours .time {
  border-bottom: 1px solid #d4d4d4;
}

/* ==== Restaurant Details - Reviews ==== */

#reviews-container h3 {
  color: #AA5D00;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: uppercase;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review__card {
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
  position: relative;
  margin: 0 0 3rem;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.review__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: rgb(51, 51, 51);
  color: #fff;

}

.review__name {
  margin: 0;
  font-size: 1.8rem;
}

.review__date {
  font-size: 1.7rem;
  color: lightgray;
  text-shadow: 3px 5px 6px rgba(0,0,0,0.15);
}

.review__body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review__rating {
  padding: .7rem 1rem;
  background-color: #AA5D00;
  color: #fff;
  margin-bottom: 2rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.review__rating i{
  margin-left: .5rem;
  font-size: 1.5rem;
  vertical-align: text-top;
}

.review__comments {
  margin: 0 0 10px;
  color: #666;
  font-weight: 300;
}

/* ====================== Responsive Design: Media Queries ====================== */

@media screen and (min-width: 576px) {
  nav h1 a {
    font-size: 2.6rem;
  }

  .filter-fields {
    flex-direction: row;
  }

  .filter-fields select {
    flex: 1;
    margin-right: 2rem;
  }

  .filter-fields select:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 640px) {
  nav h1 a {
    font-size: 3rem;
  }

  .filter__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .filter__container h4 {
    font-size: 2rem;
  }

  .filter__container #favorites {
    flex: 0 1 auto;
    margin-left: 2rem;
  }

  .filter-fields {
    flex: 1;
  }

  .card,
  .review__card {
    flex: 0 1 calc(50% - 1.5rem);
  }

}

@media screen and (min-width: 860px) {
  .inside #maincontent {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .inside #map-container {
    flex: 1;
  }

  .inside #map {
    height: 100%;
  }

  #restaurant-container {
    flex: 0 1 45%;
    max-width: 86rem;
    order: -1;
  }

  #restaurant-img {
    border-radius: 20px;
  }

  #restaurant-address {
    margin: 2.2rem 0;
    text-align: left;
  }

  #restaurant-hours {
    margin: 0;
  }
}


@media screen and (min-width: 930px) {
  nav h1 a {
    font-size: 3.2rem;
  }

  .breadcrumb-bar {
    padding: 2.5rem 4rem;
  }

  #restaurants-list {
    padding: 4rem;
  }

  .card,
  .review__card {
    flex: 0 1 calc(33.33% - 2rem);
    max-width: 45rem;
  }

  .card .card__title {
    font-size: 2.5rem;
  }
  
  #restaurant-container {
    padding: 3rem 4rem;
  }

  #reviews-container {
    border-top: 2px solid #d9d9d9;
    width: 100%;
    max-width: 140rem;
    padding: 4rem;
    justify-content: center;
  }
}

@media screen and (min-width: 1800px) {

  #restaurants-list {
    max-width: 200rem;
  }

  .card {
    flex: 0 1 calc(25% - 2.25rem);
  }

  #reviews-container {
    max-width: 200rem;
  }

  #footer {
    font-size: 1.5rem;
  }
}